<div class="fixed top-0 left-0 w-[400px] bg-background p-3 flex flex-row justify-between">
  <div>
    <a href="/"><img src="assets/icons/logo.png" alt="logo" class="w-8 h-8"></a>
  </div>
  <div class="flex flex-row gap-2">
    <div class="flex flex-row cursor-pointer">
      <span class="italic text-lg font-semibold text-black">Simplify<span class="text-xl text-primary-900 font-bold">it</span></span>
    </div>
  </div>
  <div class="flex flex-row gap-2">
    <span class="material-symbols-outlined cursor-pointer" >
      menu
    </span>
  </div>
</div>
