
@tailwind base;
@tailwind components;
@tailwind utilities;


:root
{
  width: 400px;
  height: 600px;
  font-family: 'Roboto', sans-serif;


  /* colores */
  --background: #F5F5F5;
  --text : #333;
  --text-button: #F5F5F5;

  --primary-100: #E6F4EA;
  --primary-200: #CCE9D5;
  --primary-300: #B3DFBF;
  --primary-400: #99D4AA;
  --primary-500: #0F9D58; /* default */
  --primary-600: #0E8C4F;
  --primary-700: #0C7A45;
  --primary-800: #0B693C;
  --primary-900: #095832;

  --secondary-100: #FFF3E0;
  --secondary-200: #FFE0B2;
  --secondary-300: #FFCC80;
  --secondary-400: #FFB74D;
  --secondary-500: #FFA000; /* default */
  --secondary-600: #FF8F00;
  --secondary-700: #FF6F00;
  --secondary-800: #E65100;
  --secondary-900: #BF360C;
}

.dark{
  --background : #333;
  --text: #F5F5F5;
}



h1, h2, h3, h4, h5, h6 {
  color: var(--text);
  margin: 0 0 10px;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

code {
  background-color: var(--primary-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
}

button {
  background-color: var(--primary-500);
  color: var(--text-button);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-600);
}
